<template name="dashboard">

	<div class="col-lg-12">

		<!-- Two columns -->
		<div class="row dash-body">

			<!-- Add button, etc. -->
			<div class="col-md-6">
				<h4 class="center-title">{{ currentUser.username }}'s dashboard</h4>
				<div class="well">
					<p>
						This dashboard is where you can maintain your books, as
						well as requests you've made or received for books.

						Click the link below to post a new book on the site!
					</p>
					<p class="dash-add-link">
						<a href="{{ pathFor 'dashboard-add' }}">Post a Book!</a>
					</p>
				</div>
			</div>

			<!-- Listed books -->
			<div class="col-md-6">
				<h4 class="center-title">Listed Books</h4>
				<div class="well">
					{{#if haveBooks}}
						<table class="table">
							<tr class="table-header">
								<td>Title</td>
								<td>Intention</td>
								<td>Posted</td>
								<td></td>
							</tr>
							{{#each theBooks}}
								<tr>
									<td class="ellipsis-of"><a href="{{ pathFor "book" }}">{{ title }}</a></td>
									<td>{{ theType }}</td>
									<td>{{ this.getDate }}</td>
									<td class="delete-cell">
										{{#if bookRequests}}
											<i class="fa fa-check"></i>
										{{/if}} 
										<i class="fa fa-ban"></i>
									</td>
								</tr>
							{{/each}}
						</table>
					{{else}}
						You have no books listed!
					{{/if}}
				</div>
			</div>

		</div>

		<div class="row">

			<!-- My Requests -->
			<div class="col-md-6">
				<h4 class="center-title">My Requests</h4>
				<div class="well">
					{{#if haveRequests}}
						Book table goes here
					{{else}}
						You have requested no books!
					{{/if}}
				</div>
			</div>

			<!-- Received Requests -->
			<div class="col-md-6">
				<h4 class="center-title">Received Requests</h4>
				<div class="well">
					{{#if haveRequests}}
						Book table goes here
					{{else}}
						You have requested no books!
					{{/if}}
				</div>
			</div>

		</div>

	</div>

</template>
